/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/******************************** Base Styles for Mobile Devices ******************************/

header,
nav ul li a,
#skills,
footer {
  background-color: #152a3e;
  color: #eeefda;
}

nav {
  padding: 30px 20px;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Alike", sans-serif;
}

nav ul li a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
}

nav ul li a:hover {
  cursor: pointer;
  background-color: #cac691;
  color: #152a3e;
  border-radius: 20px;
}

#themes {
  background-color: #eeefda;
  border-radius: 20px;
  padding: 3px;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

#themes:hover {
  cursor: pointer;
  background-color: #cac691;
  color: #152a3e;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alike", serif;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.intro h1 {
  padding: 30px 0;
  margin: 0;
  width: 75%;
}

.intro h2 {
  padding: 0 30px 40px;
  margin: 0;
  font-size: 18px;
  width: 75%;
}

#projects,
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: #eeefda;
  color: #152a3e;
  margin: 0;
  padding: 60px 0 60px;
}

#project-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: row wrap;
  width: 85%;
}

#projects h1 {
  margin: 0 0 20px;
  width: 100%;
}

.sticky-notes,
.speech-detection,
.repo-gallery,
.guess-word,
.unplugged {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 0 0 60px;
  width: 100%;
}

#projects a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

img {
  width: 100%;
  padding: 0 0px 20px 0px;
  margin: 0;
}

#projects h2 {
  margin: 0 0 30px;
  font-weight: 500;
  width: 100%;
}

#projects p {
  margin: 0 0 40px;
  text-align: left;
  line-height: 30px;
  width: 100%;
}

#projects .skills {
  text-align: left;
  margin: 0;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0;
  width: 100%;
}

button {
  background: #152a3e;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  height: 45px;
  font-size: 18px;
  width: 180px;
}

#projects button a {
  color: white;
  border-radius: 20px;
  border: none;
  height: 35px;
}

button:hover,
#projects button a:hover {
  cursor: pointer;
  background-color: #b4c7d9;
  color: #000;
}

#skills {
  padding: 60px 0;
}

#skills h1 {
  padding: 0 0 10px;
  margin: 0;
}

#skills h2 {
  margin: 0;
  padding: 30px 0 20px;
}

#skills ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#skills ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 0 20px;
  padding: 10px 0;
  background-color: #e9b14c;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-weight: 400;
}

#about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 85%;
}

#about img {
  padding: 20px 0;
}

#text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}

#about h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0;
  padding: 20px 0 40px;
}

#about h2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0 0 30px;
  font-size: 20px;
}

#about p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 0 0;
}

#contact h1 {
  margin: 0;
  padding: 60px 0 40px;
}

#hire h2 {
  margin: 0;
  padding: 0 0 30px;
}

#hire a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-decoration: none;
  list-style: none;
  color: lightgray;
}

#follow h2,
#location h2 {
  margin: 0;
  padding: 40px 0 30px;
}

.emblems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

#follow p {
  margin: 0;
  padding: 0 15px;
}

#follow p a i {
  color: lightgray;
  font-size: 32px;
}

#location,
#copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#location p {
  margin: 0;
}

#copyright {
  padding: 40px 0;
}

#copyright p {
  margin: 0;
  font-size: 14px;
}

/******************************** Base Styles for Tablet Devices ******************************/

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  nav {
    padding: 80px 50px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #themes {
    font-size: 16px;
  }

  .intro h1 {
    font-size: 40px;
    padding: 0;
  }

  .intro h2 {
    width: 550px;
    font-size: 24px;
    padding: 60px 0 80px;
  }

  #projects {
    padding: 80px 0 0;
  }

  #projects h1 {
    padding-bottom: 80px;
    margin: 0;
    width: 100%;
  }

  .sticky-notes,
  .speech-detection,
  .repo-gallery,
  .guess-word,
  .unplugged {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 40%;
    padding: 0 0 80px;
    height: 550px;
  }

  img a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  h2 {
    font-size: 20px;
  }

  #projects p {
    margin: 0 0 20px;
  }

  #projects .skills {
    margin: 0;
  }

  .button {
    padding: 0;
  }

  #skills h2 {
    padding: 30px 0;
  }

  #skills ul {
    flex-flow: row wrap;
    margin: 0 0 10px;
  }

  #skills ul li {
    flex-flow: row wrap;
    width: 35%;
    margin: 0 15px 20px;
  }

  #about {
    padding: 60px 0 120px;
  }

  #about img {
    width: 50%;
  }

  #about h1 {
    padding: 60px 0 80px;
  }

  #about h2 {
    text-align: left;
    padding: 0 0 40px;
  }

  #about p {
    padding: 0 0 10px;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  #contact h1 {
    padding: 120px 0 80px;
    width: 100%;
  }

  #hire h2 {
    padding: 0 0 30px;
  }

  #follow h2 {
    padding: 0 0 40px;
  }

  #location h2 {
    padding: 0 0 40px;
  }

  #location p {
    font-size: 18px;
  }

  #hire,
  #follow,
  #location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 33%;
  }

  #follow p {
    padding: 0 20px;
  }

  #copyright {
    width: 100%;
    padding: 80px 0;
  }

  #copyright p {
    font-size: 16px;
  }
}

/******************************** Base Styles for Desktop Devices ******************************/
@media only screen and (min-width: 1200px) {
  nav {
    padding: 80px 100px;
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul li a {
    font-size: 20px;
    padding: 0 20px;
  }

  #themes {
    font-size: 16px;
    margin: 0 20px;
  }

  .intro h1 {
    font-size: 64px;
    padding: 0;
  }

  .intro h2 {
    display: flex;
    justify-content: center;
    width: 850px;
    font-size: 32px;
    margin: 40px 0 140px;
    padding: 0;
  }

  #projects {
    padding: 80px 0 0;
  }

  #projects h1 {
    padding-bottom: 80px;
    margin: 0;
    font-size: 40px;
  }

  .sticky-notes,
  .speech-detection,
  .repo-gallery,
  .guess-word,
  .unplugged {
    width: 30%;
    padding: 0 0 80px;
    height: 650px;
  }

  img a {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #projects h2 {
    font-size: 20px;
  }

  #projects p {
    margin: 0 0 30px;
    font-size: 20px;
  }

  #skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 120px 0;
  }

  #skills h1 {
    font-size: 40px;
  }

  #skills ul {
    flex-flow: row wrap;
    width: 900px;
    margin: 20px 0 10px;
  }

  #skills ul li {
    width: 30%;
    margin: 0 15px 20px;
  }

  #about {
    flex-flow: row wrap;
    padding: 80px 0 120px;
  }

  #about-wrapper {
    flex-flow: row wrap;
  }

  #about img {
    width: 408px;
    height: 454px;
    padding: 0;
  }

  #text {
    justify-content: center;
    flex-flow: row wrap;
    width: 60%;
  }

  #about h1 {
    justify-content: flex-start;
    padding: 0 0 15px 40px;
    font-size: 40px;
    max-width: 730px;
  }

  #about h2 {
    text-align: left;
    padding: 0 0 15px 40px;
    font-size: 24px;
    max-width: 730px;
  }

  #about p {
    padding: 10px 0 0 40px;
    max-width: 730px;
    font-size: 18px;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  #contact h1 {
    padding: 160px 0 80px;
    width: 100%;
    font-size: 40px;
  }

  #hire h2 {
    padding: 0 0 30px;
  }

  #follow h2 {
    padding: 0 0 50px;
  }

  #location h2 {
    padding: 0 0 60px;
  }

  #location p {
    font-size: 20px;
  }

  #hire,
  #follow,
  #location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 25%;
  }

  #follow p {
    padding: 0 20px;
  }

  #copyright {
    width: 100%;
    padding: 80px 0 140px;
  }

  #copyright p {
    font-size: 18px;
  }
}

/**************************************** Light Mode ******************************************/
.light #header,
.light #nav,
.light #skills,
.light #contact {
  background-color: #cac691;
  color: #152a3e;
}

.light #nav:hover {
  cursor: pointer;
  background-color: #152a3e;
  color: white;
  border-radius: 20px;
}

.light #themes:hover {
  cursor: pointer;
  background-color: #152a3e;
  color: white;
}

.light #themes,
.light #projects,
.light #about {
  background-color: #f7e8e8;
  color: #152a3e;
}

.light #phone,
.light #email,
.light #emblems {
  color: #152a3e;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
